[2018-08-31 13:41] MattHJensen opened #1 "Library name"
@donboyd5 said:

This issue is to discuss the PSL name, and in particular to decide whether the name should include "open" or "open source."

To facilitate this conversation, concrete suggestions for the name are welcome. If you do suggest a name, please also suggest:

- Shorthand (if name is long)
- website domain name
- twitter handle
- github organization

For the Policy Simulation Library, the

[2018-08-31 13:55] MattHJensen commented on #1
My reasoning for not including "open" in the names I have suggested so far:

- If open is in the product name, potential users might be concerned that the developers are open source partisans -- more devoted to a way of development for its own sake than to quality or the user experience.
- If open is in the product name, it gives everyone else an excuse to not be open source, because open is what

[2018-09-05 15:02] hdoupe opened #4 "Catalogue Builder"
In this issue, I want to propose a way to build the project catalogue. Taking the list outlined in the project planning letter:

- Project mission statement
- PSL standards level
- Preferred citation
- Project overview
- Subject matter tags
- Policy levers, and maybe ranges with citations.
- “What’s new”
- Changelog
- Disclaimer
- Installation
- Getting started for technical contributors
- User da

[2018-09-05 15:16] hdoupe commented on #4
I like the idea of having the source files (i.e. `psl-catalogue.json`) for the catalogue in the upstream projects' repos. However, an argument could be made that the upstream-project should update the catalogue data in this repo. There could be a directory in this repo with a list of JSON files, `catalogue-data/project-name.json` that would have the relevant catalogue data. This would mean that we

[2018-09-06 18:33] MaxGhenis opened #8 "Move Q&A to StackOverflow"
@MattHJensen and I have discussed using StackOverflow (SO) as a Q&A forum, so that GitHub issues can focus on development. I'd suggest these steps to kick this off:

**1. Decide on tag naming conventions.** On one end, they could align to repos, e.g. `taxdata`, `Tax-Calculator`, etc.; on the other, it could be a single one like `PSL`. These are all available on SO. Having one for `Tax-Calculator`

[2018-09-06 19:42] feenberg commented on #8
On Thu, 6 Sep 2018, Max Ghenis wrote:

I don't understand - we had a mailing list for 4 years with only one
message. Matt explained that the users wanted confidentiality. Will SO
likely have more traffic?

Dan

[2018-09-06 21:35] MaxGhenis commented on #8
My understanding is that this would intend to substitute for GitHub issues tagged as questions, which includes [106 issues in the Tax-Calculator repo](https://github.com/open-source-economics/Tax-Calculator/issues?utf8=%E2%9C%93&q=label%3Aquestion+) and [18 in taxdata](https://github.com/open-source-economics/taxdata/issues?utf8=%E2%9C%93&q=label%3Aquestion+).

[2018-09-06 22:20] MattHJensen commented on #8
I suggest establishing a privacy-granting service to repost user questions on our community message boards. For example, "A Congressional user from an important committee would like to know _____."

Also this.

[2018-09-07 11:35] MattHJensen commented on #8
Would a questioner use both the PSL and Tax-Calculator tags in this scenario, or would s/he just use the Tax-Calculator tag alone?

[2018-09-07 11:37] MattHJensen commented on #4
I agree. If the JSON files were in this repo, seems like they would go out of date very quickly.

[2018-09-07 15:10] MaxGhenis commented on #8
To start, only Tax-Calculator I think. I'd recommend only creating a PSL tag once there are questions directed at PSL and not another tag, like Tax-Calculator, to avoid redundancy.

[2018-09-07 15:12] MaxGhenis commented on #8
That said the [guidance on tag creation](https://meta.stackoverflow.com/questions/252944/when-is-it-appropriate-to-create-a-tag-and-how-does-it-work) is pretty vague, so if you think it'd be helpful to claim PSL early in anticipation of PSL-only questions down the line, we could just do that.

[2018-09-07 15:33] hdoupe commented on #4
@MattHJensen can you remind me of the key pieces of information about each project that you wanted to pull together from the beginning?

[2018-09-10 13:44] hdoupe commented on #4
After further conversation with @MattHJensen, I think we should implement the full list of names listed above. We should enforce the inclusion of certain keys like "Name", "License", and "citation" (happy to discuss inclusion of other mandatory keys) and the rest of the keys will be optional. In the catalogue, the keys that are not included will be stored with `null` values. I don't think this sho

[2018-09-17 13:05] MattHJensen commented on #8
@jdebacker and @rickecon, do you also want to move B-Tax and OG-USA Q&A to stack overflow?

[2018-09-17 14:07] rickecon commented on #8
I like this proposal of putting OG-USA Q&A on StackOverflow, thereby reserving GitHub issue tracking for developer issues. @MaxGhenis @MattHJensen @jdebacker

[2018-09-17 21:07] andersonfrailey opened #9 "Messaging System"
Awhile back we discussed using some kind of chat system for quick one-off messages about projects that don't merit full GitHub issues. I'd like to propose we use [riot.im](https://about.riot.im). At the suggestion of @MattHJensen, @hdoupe  and I have been spending sometime using it and it seems like it will be more than suitable. It's open source and we can play with the settings in an individual

[2018-09-18 11:50] MattHJensen commented on #9
Thanks @andersonfrailey and @hdoupe.

Here are a couple of rooms to experiment with.

[PSL-Core](https://matrix.to/#/!oZnjlINzAXrgdzXEfZ:matrix.org
)
[Tax-Calculator](https://matrix.to/#/!pDrzhltReXfgRKfzLQ:matrix.org)

[2018-09-18 19:51] MattHJensen opened #11 "PSL meetup in DC?"
Any interest in having a monthly PSL meetup in DC?

We could have presentations and discussions from developers or users for an hour or so and then developer and user free time.

I would try to be there every month, but I don't think we all would need to be there every month. (We might be able to get remote folks up on a big tv -- we'd have to see how that goes.)

I'm imagining 5 pm on a weekday o

[2018-09-19 13:57] hdoupe commented on #11
I think a PSL meetup would be pretty cool. @andersonfrailey and I have spent a lot of time complaining about DC meetups. So this could be an nice opportunity to help make one better.

I like the presentation and discussion format. We could also do several 5 minute long lightning talks. Those are nice for quicker projects or experiments and they drop the barrier for presenting.

I would steer clear

[2018-09-19 14:07] hdoupe commented on #9
I came across this [talk](https://www.youtube.com/watch?v=X9b9ZN5MVsE) by one of the founders of matrix.org which is the org that is building the communication layer that riot.im sits on top of. The idea for the project is pretty interesting. It seems like the idea is that matrix is a neutral chat communications layer that can be used to make all the disparate chat apps like Slack and IRC interope

[2018-09-19 18:35] MattHJensen commented on #11
Any common causes for complaint that we should avoid?

[2018-09-19 18:37] MattHJensen commented on #9
It will be very nice if all of the Slack/IRC/etc. users out there can stick with their preferred clients.

[2018-09-28 21:57] MattHJensen opened #13 "Readings"
Please post to this issue readings or resources that you recommend that are related to PSL-Core.

[2018-09-28 22:08] MattHJensen commented on #13
[The TensorFlow website](https://www.tensorflow.org/)

I like tensorflow.org as a design inspiration for the project pages at policysimulationlibrary.org/[Project].

[Linux Foundation's Core Infrastructure Initiative](https://www.coreinfrastructure.org/)

CCI has a criteria-based badge system for indicating that an open source project is following what they consider to be open source development b

[2018-09-29 15:31] MattHJensen commented on #13
[How Transparency and Reproducibility Can Increase Credibility in Policy Analysis: A Case Study of the Minimum Wage Policy Estimate](https://osf.io/preprints/bitss/ba7tr/)

This dissertation by @fhoces proposes guidelines for open policy analysis and applies them to a reproduction of CBO's minimum wage labor market estimates.

[Guidelines for Open Policy Analysis](https://docs.google.com/document/

[2018-10-02 14:42] MattHJensen commented on #13
[Community Modeling and Analysis Systems (CMAS)](https://www.cmascenter.org/index.cfm)

CMAS is a center at the University of North Carolina set up through a grant from the EPA. The UNC center provides support and training for EPA open source models. It is worth checking out the types of information they choose to include on each model's page.

[2018-10-02 23:08] MattHJensen commented on #11
@andersonfrailey, @hdoupe, and I discussed this on the phone. One idea that we discussed (in somewhat less detail than this) would be to have a structure something like this:

Washington, DC PSL Meetup
Hosted by OSPC at AEI

4:30 - 5:00 Arrival and social
5:00 - 5:05 Welcome
5:05 - 6:00 Short presentations and discussion
6:00 - 6:30 Social

[2018-10-04 19:06] hdoupe opened #14 "Inputs schema"
In this issue, I propose an inputs schema that PSL-Core projects could use directly or as a model for building their own. This schema is modeled closely on the Tax-Calculator inputs schema and in part, on the OG-USA inputs schema. My approach was to take a look at those schemas and generalize them to come up with a format that could be used by many different types of modeling projects. Note that t

[2018-10-05 16:33] martinholmer commented on #14
@hdoupe,  Your work in PSL-Core issue #14 would be very helpful to a new project or to an existing project that wants to become PSL-compliant.  I particularly like the way you've "un-indexed" the policy parameters that are indexed by MARS, EIC, or itemized-deduction types, so that the "value" is always a scalar (never a vector).  I wasn't involved in the Tax-Calculator project when all of those hi

[2018-10-05 17:51] hdoupe commented on #8
I'm compiling some info for the catalogue in pr #10. Have any stackoverflow/Q and A channels been set up yet?

[2018-10-06 17:37] hdoupe commented on #14
@martinholmer Thanks for taking a look at this issue.

Right, and if the parameter type was truly a list like a GPS coordinates parameter then it would be set as a list.

I think "un-indexing" is a good way to look at it. The proposed schema is sort of like a decompressed version of the TC inputs schema. For example, the following reform:

[code]
is encoding a lot of information:

If someone reads

[2018-10-08 20:41] MattHJensen commented on #14
Regarding writing extra lines, I don't think it would be much of a hassle if both the baseline policy specification (`current_law_policy.json` for Tax-Calculator) and the reform files matched. Users writing reform files could copy and paste from the baseline policy specification. The baseline policy specification only needs to be written once, and updating the 'unindexed' version would be easier a

[2018-10-15 14:23] andersonfrailey opened #17 "PSL-Core Restructure"
How would everyone feel about restructuring the PSL repo a little bit? I'm writing a short script to read in some markdown files and convert them to HTML using Jinja, like @hdoupe has done to create the models pages and want to use some of the code he's already written, but I don't think they really belong in the `Catalog-Builder` directory.

I think we'd benefit from a generic `PageBuilder` direc

[2018-10-15 17:39] martinholmer opened #18 "Puzzling location of Tax-Calculator catalog card"
On the tip of the master branch, the machine-generated catalog card for Tax-Calculator is located at:
`PSL-Core/Core/Tools/Web/pages/projects/Tax-Calculator.html`.

I don't understand why it is under `PSL-Core/Core/Tools`.  The generated catalog card is not a `Tool`.
Why isn't the T-C catalog card under `PSL-Core/Catalog`?  Isn't that the place where the catalog cards for all the PSL models will g

[2018-10-15 19:19] hdoupe commented on #17
The `PageBuilder` directory seems like a good idea. I turned the `Catalog-Builder` directory into a Python package so that I could run tests with `py.test`. If there's a central place for all of the catalog/web build scripts, then there would be just be one Python package in the PSL-Core repo which means there wouldn't be multiple test suites, etc.

An argument could be made that the catalog-build

[2018-10-15 20:28] martinholmer commented on #17
I have a basic, roadmap question.  Is the plan to create a new GitHub organization called `PSL` or `policy-simulation-library` (or something else) that will host PSL model repositories?  If not, isn't it confusing to leave them all in an `open-source-economics` organization?  People are going to wonder/ask about the relationship between the PSL organization and the Open-Source-Economics organizati

[2018-10-15 20:35] andersonfrailey commented on #17
I can put together a PR that makes these changes and we'll see how everyone likes it.

[2018-10-15 20:36] hdoupe commented on #17
@andersonfrailey said:

Sounds good to me.

[2018-10-15 20:44] MattHJensen commented on #17
@martinholmer asked:

I agree that it would create brand confusion to keep everything in open-source-economics. My thinking is to rename open-source-economics to policy-simulation-library, which I own. Renaming the organization will ensure all links to github.com/open-source-economics/[existing-model] will continue to work. I haven't wanted to do this renaming until we have developed the PSL idea

[2018-10-16 16:17] MattHJensen commented on #18
@martinholmer asked:

It also makes sense to me to put the models' .html card files under PSL-Core/Catalog. PSL-Core/Catalog should then contain a index.html file describing the catalog and .html catalog cards for each model in the library.

[2018-10-16 17:29] martinholmer opened #21 "Repository name and organization"
The more I read about the Policy Simulation Library (PSL) the more impressed I am with all the thought and early development work that has gone into building this repo.  I'm particularly keen on the library metaphor and its ancillary metaphors like the card catalog and special topical collections (like the USA tax collection).

I think a few organizational changes would make this repo even better

[2018-10-16 21:14] MattHJensen commented on #21
I think these are all great suggestions. Unless others object, I will take care of (1), (3), and (4). Waiting on @andersonfrailey's feedback here and on #18 about (2) -- as I chimed in over there, I think it is a good idea, but maybe @martinholmer and I are missing something.

[2018-10-16 21:16] MattHJensen commented on #21
@martinholmer, thanks a lot for thinking about PSL design and contributing to the project. Same goes to @hdoupe, @andersonfrailey, and @Peter-Metz.

[2018-10-17 13:15] andersonfrailey commented on #21
I think the point @martinholmer made in (2) and PR #18 is a good one. I agree that it would make sense to move all of the model pages to the `Catalog` directory.

[2018-10-17 13:44] hdoupe commented on #21
I'm on board with all of the points made by @martinholmer. Thanks for giving us a fresh perspective on the repo organization.

[2018-10-17 19:51] MattHJensen commented on #21
@Peter-Metz, could you lend a hand to (3)?

[2018-10-17 20:07] Peter-Metz commented on #21
Sure thing, @MattHJensen

[2018-10-18 19:22] hdoupe opened #24 "Which catalog attributes MUST be included?"
I'm trying to cross-reference a few lists that have been compiled to get a list of attributes that must be included.

Current List
----------------

- project_one_line: na
- key_features: Key Features, **should be removed**
- project_overview: Project Overview,
- citation: Citation,
- license: License,
- user_documentation: User Documentation,
- user_changelog_recent: User Changelog Recent,
- user

[2018-10-22 14:02] andersonfrailey commented on #24
The final list of required attributes looks good to me, @hdoupe.

I think a table that lists each key, it's associated section header, and it's requirement status is also a good idea. Keeping it in a CSV file works as long as we don't anticipate changing it a lot. I've found that updating CSV files manually, as this would seemingly require, has the potential to cause problems.

If we do include th

[2018-10-24 14:28] andersonfrailey opened #26 "Import Statement Issues"
I've noticed that the `from catalog_builder import utils` statement in `catalog.py` throws an error when running `catalog.py`. If I use just `import utils`, everything works fine until you run the tests. When you run the tests, you'll get an error unless you use `from catalog_builder import utils` in `catalog.py`. Has anyone else had this issue?

It makes sense to me why `from catalog_builder impo

[2018-10-24 15:31] Peter-Metz commented on #26
@andersonfrailey I've been able to run `catalog.py` without changing the `from catalog_builder import utils` statement. It's possible that a few links in `catalog.py` were broken with the directory restructure -- the branch I am currently working on still has the old directory structure, so it works.

[2018-10-29 14:06] hdoupe commented on #26
@andersonfrailey I'm late on this issue, but doing a local install (`pip install -e .`) may resolve the problem too.

[2018-10-29 14:16] andersonfrailey commented on #26
@hdoupe yep. Tried that and everything started working as expected.

[2018-10-29 14:35] hdoupe commented on #26
Nice!

[2018-10-29 14:37] martinholmer commented on #21
@MattHJensen, What’s the timeframe for changing the repo name to PSL?

[2018-10-29 17:24] andersonfrailey opened #30 "Checklist before soft launch"
Since we're planning on launching on Wednesday, I wanted to put together a checklist of the tasks left to be done before then. These are all of the things I can think of, if you have additional items please add them.

- [x] Merge pending PR's (#27, #28, #29) - will be done this afternoon
- [x] Implement newsletter signup
- [x] Add PSL logo to home page (working on that now)
- [x] Get PSL catalog m

[2018-10-29 17:43] MattHJensen commented on #30
- [ ] change PSL-Core to PSL

[2018-10-29 19:00] andersonfrailey commented on #30
- [ ] Determine steps for how to apply to add a model to the library (I'd imagine this page would just be a link to the criteria and some contact information)

[2018-10-29 20:34] MattHJensen commented on #30
@Peter-Metz do you have bandwidth to set up a mailchimp or similar list for PSL in the next day or two? I can give you my cc if it requires payment.

It would be very nice to have the signup working when we begin pushing the library.

[2018-10-29 20:45] hdoupe commented on #30
I can work on the domain name swap. Any objections to me getting started on that now or tomorrow? That way it's all set for the launch on 11/1 and we aren't flailing our arms trying to figure out why the https isn't working or something.

[2018-10-29 20:53] andersonfrailey commented on #30
I've got no objection to starting that now, @hdoupe.

[2018-10-29 21:03] Peter-Metz commented on #30
Happy to set that up @MattHJensen

[2018-10-30 12:19] martinholmer commented on #21
@martinholmer said two weeks ago in PSL issue #21:

There was broad agreement with this suggestion, but yet nothing has happened to implement this idea.
And then this issue was closed on Monday.  And this issue's second item never got transferred to the "to do" list in issue #30.  This second item was (in my view) the most important suggestion I made two weeks ago.  I don't understand why it is be

[2018-10-30 12:21] MattHJensen commented on #21
@martinholmer, this is my mistake. I thought this had been resolved in an earlier PR when I closed this issue through a "resolves #21" comment in #34. Reopening.

[2018-10-30 12:21] MattHJensen commented on #30
- [ ] resolve #21

[2018-10-30 12:22] martinholmer commented on #18
Issue #18 is still unresolved and there are no pending pull requests as of Tuesday (Oct 30) early morning.

@MattHJensen @hdoupe @andersonfrailey @Peter-Metz

[2018-10-30 12:31] martinholmer commented on #30
@andersonfrailey,  Is there any reason why this 11 kilobyte text file is all on one line?
`PSL/Catalog/Projects/catalog.json`
Having that much text on one line makes it virtually impossible to read.

@MattHJensen  @hdoupe @Peter-Metz

[2018-10-30 12:36] martinholmer opened #35 "What is the PSL catalog update workflow?"
Maybe I've missed the answer to my question.
If the answer is in the PSL repo documentation, please point me to it.

Here's my question:

When the PSL website is active and some model in the library issues a new release, how does the catalog card for that model get updated?  Have you built into PSL logic some kind of monitoring of each model in the library?

@hdoupe @andersonfrailey @Peter-Metz @M

[2018-10-30 14:03] andersonfrailey commented on #35
@martinholmer, there is no monitoring logic in the library. Because we're using GitHub Pages to host the site (a free option) rather than a paid service, the website cannot have some monitoring script running in the background. The plan, for now at least, is to periodically run the catalog builder scripts to update PSL. Given the current size of PSL we can all personally monitor projects for chang

[2018-10-30 14:04] andersonfrailey commented on #30
@martinholmer, my understanding is that file is not intended to be read, it's just to store the catalog information. @hdoupe can give a better explanation.

[2018-10-30 14:24] hdoupe commented on #35
I think in the future we could have a light-weight webapp that updates on its own. Another option would be to have some type of [Github webhook](https://developer.github.com/webhooks/) that runs the site builder scripts and updates the data each time an upstream project does a release.

For now, I'm fine with having a combination of us monitoring the upstream projects for releases and for them to

[2018-10-30 14:45] martinholmer commented on #30
@hdoupe said:

Maybe I'm confused, but might someone want to read the `catalog.json` file as part of a debugging exercise?

[2018-10-30 15:21] hdoupe commented on #18
@martinholmer asked:

Why isn't the T-C catalog card under PSL-Core/Catalog? Isn't that the place where the catalog cards for all the PSL models will go?

My apologies for not articulating my views on this earlier. I've been thinking about the `Catalog` directory as a base location of Catalog information. It has a `register.json` file which registers PSL projects to the catalog parser. It has a `c

[2018-10-30 17:00] martinholmer commented on #30
@hdoupe, Thanks for PR #37.

[2018-10-30 17:07] martinholmer commented on #18
@hdoupe said in issue #18:

No.   For all the reasons that were discussed two weeks ago.  The card catalog is the central feature of any library.  So, it seems to me that everybody will expect it to the at the top: in the PSL/Catalog directory.

I don't understand why you have tool-related files in the PSL/Catalog directory.  Why are those file not located more closely to the tools that use them?

[2018-10-30 17:07] hdoupe commented on #30
@martinholmer No problem. Thanks for suggesting the change.

[2018-10-30 17:42] MattHJensen commented on #18
I'd like to think more about @hdoupe's point.

It seems like the question comes down to whether we view the collection of meta data about models as the card catalog or if we view the collection of html representations of those data as the card catalog.

If someone were to display the data in a format other than the html pages, on a website other than policysimulationlibrary.org would it still be a

[2018-10-30 17:45] hdoupe commented on #18
@MattHJensen said:

Agreed, I just had a comment typed up saying the same thing.

[2018-10-30 17:49] hdoupe commented on #18
@MattHJensen said:

That could work. I think I'm still a little confused about how people are going to be interacting with these JSON cards. That is, why would they look at the JSON cards instead of the cards on the PSL website?

[2018-10-30 18:05] martinholmer commented on #18
@MattHJensen said in issue #18:

Why are all the catalog cards in one file?
That doesn't make any sense to me, but maybe I'm missing some consideration.

The suggestion made in #18 was based on the understanding that each PSL model would have its own HTML card file, and that there would be an `index.html` file also in PSL/Catalog that would be maintained by PSL developers.  That `index.html` file

[2018-10-30 18:10] martinholmer commented on #18
@MattHJensen said (confusingly to me) in issue #18:

I'm totally confused.  I thought the Catalog-Builder tool set translated each model's info (some in HTML, some in MarkDown, etc.) into an HTML catalog card.

What's all this business about a "collection of meta data about the models" that is **not** the HTML card?
What is that?
What is it's role in the PSL repo?

[2018-10-30 19:17] martinholmer commented on #35
@andersonfrailey and @hdoupe,  Thanks for your description of the anticipated catalog updating workflow in PSL issue #35.

[2018-10-30 19:17] #35 closed

[2018-10-30 20:05] hdoupe commented on #18
@martinholmer asked:

This is essentially correct, but there is a step in the middle where each piece of information is translated to HTML and stored at the corresponding attribute in the `catalog.json` file. The data in this `catalog.json` file is then used to generate an HTML file which has been referred to as the project's "Card."

Our thinking differs because I thought that each project's entr

[2018-10-30 20:17] MattHJensen commented on #30
Note that this will be a soft launch. We should view it as the time to begin sharing with peers who might be interested to see what they think and get them involved, but we won't be making any launch announcements or mass mailings. When we share it publicly with those peers, we should not describe it as a "launch."

[2018-10-30 20:18] MattHJensen commented on #30
Also, we are now aiming to soft launch on Thursday, not Wednesday.

[2018-10-30 20:42] MattHJensen commented on #30
- [ ] review and edit language throughout repo and site to create a consistent PSL message.

[2018-10-30 21:57] MattHJensen commented on #30
- [ ] remove pointer to Hank's Tax-Calculator fork from register.json.

[2018-10-30 22:07] martinholmer commented on #18
@hdoupe said:

Yes and no.  I now see the thinking that led you to create a single JSON file (`catalog.json`) that contains all the HTML cards: because some program other than a web browser might want to access the information on the cards).  But I don't understand the logic behind your thinking.  If the JSON file contains HTML, I don't see why another program couldn't just access each model's HTM

[2018-10-31 13:47] MattHJensen commented on #30
- [ ] update NEWS.md and RELEASES.md

[2018-10-31 15:17] MattHJensen commented on #18
While I understand the logic behind both sides of the file structure discussions (should html files go in a web subdirectory or in a catalog subdirectory), I think if we focus on the url structure, it might be easier to come to an agreement on the file structure, because, as far as I can tell, GitHub Pages builds the url structure for a repository off of the file structure.

So, I'll start with th

[2018-10-31 16:46] hdoupe commented on #18
@MattHJensen I'm on board with this.

[2018-10-31 17:16] andersonfrailey commented on #18
Also on board.

[2018-10-31 18:53] MattHJensen commented on #18
Cool, @hdoupe, @andersonfrailey, do you mind making the respective changes to catalog-builder and page-builder?

Under this approach, catalog.html (formerly models.html) will be standing in for what @martinholmer has been referring to as index.html.

[2018-10-31 19:08] andersonfrailey commented on #18
@MattHJensen I'll start working on it now.

[2018-10-31 20:42] MattHJensen commented on #30
Many users will visit the site for the first time in mobile devices:

- [ ] make logo scale and otherwise review mobile presentation

May set us back a day (to Friday).

[2018-10-31 20:43] hdoupe commented on #30
Oh, good point. Mobile viewing is pretty rough right now.

[2018-10-31 20:54] andersonfrailey commented on #30
I'm taking a look at this `meta` [tag](https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag) we could add. Looks like it might solve some of our problems. After I read a bit more I can try adding it to the home page and see what happens.

[2018-10-31 20:59] hdoupe commented on #30
@andersonfrailey I was able to get the picture to scale better. Well it looked better when playing with my browser window size, but I'm not sure how to view it from my phone.

It would be nice if the other parts of the site scaled better though. For example:

![screen shot 2018-10-31 at 4 58 20 pm](https://user-images.githubusercontent.com/9206065/47818319-33144280-dd2e-11e8-810b-752e43e6a822.png)

[2018-10-31 20:59] MattHJensen commented on #30
- [ ] make the blurbs on the intro page more descriptive, so someone knows what they are looking at and might give an email address on first look. (I’m on it)

[2018-10-31 21:15] MattHJensen opened #47 "Per-model newsletter segmentation?"
I’m  inclined for us to add model-specific signups on each catalog card. Projects could send these users any announcement they deem relevant.  @Peter-Metz, is this possible? What do you think about it? Others?

As a general matter, I expect that mass email will be our primary means of engaging users, so a core focus of the PSL project should be getting people signed up and then sharing the right

[2018-10-31 21:44] Peter-Metz commented on #47
@MattHJensen I think this is a good idea and would be easy to implement with mailchimp. That said, I wonder if we have enough content to warrant multiple newsletters to start with, or if the main PSL newsletter can cover everything for now. I do see the use in the per-model newsletter as the library grows, though.

One other thing to think about: if the maintainers of each model control their own

[2018-11-01 16:58] #18 closed

[2018-11-01 18:03] andersonfrailey commented on #30
The only item left in the original list is "Get PSL catalog merged in to Tax-Calculator, B-Tax, and PFL". We've got the first two, and @Peter-Metz mentioned that PFL is missing some of the required information so should we just exclude it from this initial launch @MattHJensen?

Other than that we just need to update NEWS.md and RELEASES.md and we'll have checked everything off

[2018-11-01 19:05] andersonfrailey commented on #47
I agree with @Peter-Metz. The main PSL newsletter should be enough for now and when PSL starts growing and individual projects want to create their own down the road they should have their own account to manage it.

[2018-11-01 19:42] andersonfrailey commented on #30
@MattHJensen that sounds good to me.

[2018-11-02 16:18] MattHJensen opened #60 "page-builder copy first news.md item on home page"
It would be nice for page-builder to automatically copy the first news item to the news block on the home page:

![image](https://user-images.githubusercontent.com/8301092/47927300-44c62900-de99-11e8-997a-7455739e6e43.png)

if others think this is a good idea, @Peter-Metz, interested in taking this when you have an opportunity?

[2018-11-02 17:51] Peter-Metz commented on #60
@MattHJensen I think this is a good idea and would be happy to take a stab at this

[2018-11-02 20:28] #30 closed

[2018-11-05 14:02] MattHJensen commented on #47
This all makes sense. I agree that there shouldn't be multiple newsletters starting off, and that when/if there are, the projects should probably manage their own newsletters themselves.

BUT, I think that per-model segmentation will still be helpful, not to allow multiple content streams, but to allow different timing of content for different models for different users.

Here's what I mean.

Let'

[2018-11-05 16:16] Peter-Metz commented on #47
Here's what this idea might look like:

![screen shot 2018-11-05 at 10 32 33 am](https://user-images.githubusercontent.com/43755005/48008440-b3002b00-e0e7-11e8-83fe-fed665c85241.png)
![screen shot 2018-11-05 at 10 32 21 am](https://user-images.githubusercontent.com/43755005/48008432-ad0a4a00-e0e7-11e8-9b8e-c09da8dd4d82.png)

One thing we should consider, though, is how to give each model's maintai

[2018-11-05 21:35] Peter-Metz opened #63 "PSL Anaconda Cloud Channel"
All,

Thanks to @martinholmer's suggestion, we'll be creating a new Anaconda Cloud channel called `PSL` so that all PSL projects can utilize the same channel moving forward.

Once the channel is created, we will simply ask the user to install the appropriate package with the command: `conda install -c PSL [project]`

Similarly, we will rename `policybrain_builder` to `PSL_builder`

Once the channe

[2018-11-07 14:35] martinholmer commented on #21
Pull request #45 completed the resolution of issue #21.

[2018-11-07 14:35] #21 closed

[2018-11-07 19:46] hdoupe commented on #9
What do others think about advertising the PSL chat room in the README and closing #9? A few of us (@andersonfrailey @Peter-Metz @MattHJensen ) have been using Riot since we opened this issue. I have had a positive experience with the app and the chat communication flow. It seems like others have, too. I'm on-board with having a chat app as an official choice for communicating about PSL and with u

[2018-11-08 17:03] martinholmer opened #65 "Add link to website in README.md file?"
Does it make sense to add a link to `www.policysimulationlibrary.org` (or now `www.pslmodels.org`) to the PSL `README.md` file?

And another question:  Does the Policy Simulation Library have an email address?  If so, what is it?  If not, should one be created?  I'm asking because the `pslmodels` Anaconda Cloud user has to specify an email address.  I have my own for the moment, but that doesn't s

[2018-11-08 18:35] MattHJensen opened #66 "Adopt PSLmodels across marketting channels."
Previously, our plans for media channels were:

Web: policysimulationlibrary.org
GitHub org: policy-simulation-library (soon)
Twitter: PSL is unavailable, policysimulationlibrary is too long, and we weren't sure what to do.
Anaconda Cloud: P-S-L, or PSL if it is available.

I discussed with @andersonfrailey, @hdoupe, @Peter-Metz, and @martinholmer switching to PSLmodels for everything. Where "PSL"

[2018-11-08 19:11] MattHJensen opened #67 "GH org: open-source-economics to PSLmodels"
We need to rename this GH organization from open-source-economics to PSLmodels. This involves:

- [x] Indicating whether a project is currently in PSL or preparing to join PSL.
- [x] Asking projects to join a different organization if they are neither in PSL nor working to join PSL
- [x] Renaming the organization.

Any suggestions for how to indicate PSL status from the first step?

[2018-11-08 19:17] towashington commented on #67
Quick question: Would this affect all the urls of projects under the
open-source-economics umbrella? I believe many of us have already
circulated the urls, and such a change would be problematic. Unless we
redirect all traffic going to open-source-economics/XXX toward PS-models
/XXX.

On Thu, Nov 8, 2018, 2:12 PM Matt Jensen <notifications@github.com wrote:

[2018-11-08 19:56] MattHJensen commented on #67
GitHub will automatically redirect the old links to the new location.

[2018-11-13 21:02] martinholmer opened #68 "Need to update Tax-Calculator catalog file for release 0.23.0"

[2018-11-13 21:05] martinholmer opened #69 "Need to add Behavioral-Responses to PSL models"
What do I need to add to the Behavioral-Responses repo to accomplish this?
Anything other that a `PSL_catalog.json` file?
Can I just copy and paste that file from Tax-Calculator (and then edit appropriately)?

[2018-11-13 21:15] hdoupe commented on #68
Thanks for the reminder @martinholmer.

[2018-11-13 22:36] martinholmer commented on #68
PSL pull request will resolve issue #68, so I'm closing #68

[2018-11-13 22:36] #68 closed

[2018-11-13 23:42] martinholmer opened #71 "Acceptance criterion 11 is too weak"
In my recent work developing a PSLmodels Package-Builder tool, I have found that, for those PSL models that want to distribute their code via the Anaconda Cloud PSLmodels channel, Acceptance criterion 11 is too weak.
Here is what that criterion says now:

That's fine for any PSL model.  But its way too loose for a model that wants to distribute packages via the PSLmodel channel.  Perhaps we should

[2018-11-14 08:43] andersonfrailey commented on #67
@MattHJensen what if we added a badge to the README? It looks like we can use [this website](https://shields.io/#/) to create custom badges.

[2018-11-14 22:43] martinholmer commented on #71
@hdoupe asked:

No.  This is what I'm trying to say: If a PSL model developer wants to use the PSLmodels Package-Builder to create conda packages for distribution via the Anaconda Cloud PSLmodels channel, then there are **additional criteria**.  I'm assuming that many PSL models will not be interested in building packages.  For those models, acceptance criterion 11 is just fine as it is now.  Does

[2018-11-16 17:15] martinholmer commented on #66
@MattHJensen proposed over a week ago in PSL issue #66 the following to-do list:

<img width="1141" alt="screen shot 2018-11-16 at 12 03 48 pm" src="https://user-images.githubusercontent.com/12170745/48636163-23d0fe00-e998-11e8-8775-b1650ff4d2a3.png">

This plan makes sense to me, but I'm unclear on what the plan's execution timeline.

There is now an Anaconda Cloud `PSLmodels` channel with packag

[2018-11-16 17:19] martinholmer commented on #69
Why has nobody responded to [my request](https://github.com/open-source-economics/PSL/issues/69#issue-380423124) to add a new model to the Policy Simulation Library?

[2018-11-16 17:51] martinholmer commented on #71
@MattHJensen said in PSL issue #71:

For the list of PSL Package-Builder MUST criteria, see that repo's [documentation](https://github.com/open-source-economics/Package-Builder/blob/master/README.md#using-package-builders-pbrelease-tool).

Seems like the easiest thing to do is to change acceptance criterion 11 from this:
[code]
to this:
[code]
where the [3] link is this:
[code]

[2018-11-16 19:20] Peter-Metz commented on #69
Assuming the model meets [PSL criteria](https://github.com/open-source-economics/PSL/blob/master/Criteria/library_criteria.md), the `PSL_catalog.json` file is the only file that needs to be added to the repo.

Yes, you may use the Tax-Calc json file as a template. I am happy to help construct the `PSL_catalog.json` file if that would be helpful, or answer any questions you may have.

Once the `PSL

[2018-11-16 19:43] martinholmer commented on #69
@Peter-Metz,  Thanks for the instructions about how to apply.

I've added a `PSL_catalog.json` file to the Behavioral-Responses repo.

So, I guess from what you're saying, you will handle the changes in the PSL repo.
Thanks for doing that.  If I've made any mistakes in preparing the `PSL_catalog.json` file, just let know and I'll fix them.

[2018-11-16 20:10] Peter-Metz commented on #69
Thanks, @martinholmer.

I just have one quick edit to the `PSL_catalog.json`:

Under the `"user_documentation"`, `"unit_test"`, and `"integration_test"` fields, would you mind changing the `"source"` to `null`?

Currently, those fields appear like this in the catalog, with both the URL and the [source] button linking to the same page:

![screen shot 2018-11-16 at 3 04 45 pm](https://user-images.gi

[2018-11-16 20:23] martinholmer commented on #69
@Peter-Metz said in PSL issue #69:

Currently, those fields appear like this in the catalog, with both the URL and the [source] button linking to the same page.  <screen-shot> . This seems a bit redundant to me, so I think we can get rid of the [source] hyperlink.

OK.  That makes sense.  I'll make those changes to both the T-C and B-R `PSL_catalog.json` files.

[2018-11-16 20:56] martinholmer commented on #69
@Peter-Metz,  Changes in both the T-C and B-R `PSL_catalog.json` files have been merged.

[2018-11-16 21:13] Peter-Metz commented on #69
Thanks, @martinholmer. [PR](https://github.com/open-source-economics/PSL/pull/72) opened to add Behavioral-Responses to the catalog.

[2018-11-16 23:07] martinholmer commented on #69
Issue #69 has been resolved by pull request #72.

[2018-11-16 23:07] #69 closed

[2018-11-17 22:31] MattHJensen commented on #71
@martinholmer, thanks for the specific suggestion. I implemented this change in #73.

[2018-11-17 22:31] #71 closed

[2018-11-17 22:33] MattHJensen commented on #67
@andersonfrailey, I like the badge idea. Would you mind cooking one up? My initial thought is for the badges to read:
Policy Simulation Library | Member
Policy Simulation Library | Incubating

[2018-11-17 22:40] MattHJensen commented on #66
@martinholmer, I plan to complete this list by Dec 3. The only two changes that I am currently (feel free to change my mind) concerned about doing at the exact same time are pointing GH pages to pslmodels.org and redirecting policysimulationlibrary.org to pslmodels.org.

[2018-11-17 22:53] martinholmer commented on #67
@MattHJensen said in PSL issue #67:

Badges are fine.  But can we think more about the metaphor being used here?
We have a `Library` of models.
I don't see how either the `Member` or `Incubating` term fits in with `Library`.
In fact, I don't even see how `Incubating` and `Member` are part of a single metaphor.  It seems like a classic case of mixed metaphors.  Members typically **apply** for membe

[2018-11-17 22:55] martinholmer commented on #66
@MattHJensen said in PSL issue #66:

Sounds good!  Thanks for the update.

[2018-11-17 23:10] MattHJensen commented on #67
Yes, I think that is a good idea. I agree that neither `Member` nor `Incubating` fit particularly well with the library metaphor.

I like "applying" better than "incubating," but it still doesn't feel 100% right and I welcome more suggestions.

[2018-11-17 23:15] MattHJensen opened #75 "Where should register.json be located?"
`register.json` is currently located at /tools/catalog-builder/register.json. It was previously located at /catalog/register.json, but moved as part of a larger PR and didn't receive explicit discussion. This issue is to allow for an explicit discussion of where this file should be located.

[2018-11-18 00:48] MattHJensen commented on #1
This issue has not spurred any discussion, and we are pretty far along with Policy Simulation Library now, so I am closing.

[2018-11-18 00:48] #1 closed

[2018-11-18 00:49] MattHJensen commented on #4
@hdoupe, do you think it is valuable to leave this issue open?

[2018-11-18 00:50] MattHJensen commented on #17
@andersonfrailey, would it be valuable to leave this issue open?

[2018-11-18 00:51] MattHJensen commented on #63
@Peter-Metz, is it valuable to keep this issue open?

[2018-11-18 01:00] MattHJensen commented on #65
@martinholmer, thanks for the suggestions. I just added `www.policysimulationlibary.org` to the readme and the GitHub repo meta information. I will update these references to `www.pslmodels.org` as part of #66, and I will establish admin@pslmodels.org as part of #66 as well. Closing this issue in favor of #66.

[2018-11-18 01:00] #65 closed

[2018-11-18 01:03] MattHJensen commented on #75
My inclination is to return register.json to `/catalog/register.json` (in which case the link to the file from the contributor guide will need to be changed). The reason I think this makes sense is that it provides an easy overview of all models in the library in the catalog directory, and also it means that prospective modeling projects do not need to end up in a tools subdirectory. If no one obj

[2018-11-19 14:12] Peter-Metz commented on #63
Conversation continued in part in issue [#98](https://github.com/open-source-economics/Package-Builder/issues/98#issuecomment-439580201) in `Package-Builder`. Not necessary to keep this issue open.

[2018-11-19 14:12] #63 closed

[2018-11-19 15:31] hdoupe commented on #75
@MattHJensen This makes sense to me.

[2018-11-19 15:34] andersonfrailey commented on #17
@MattHJensen now that we've done pretty substantial restructuring it's probably safe to close it for now.

[2018-11-19 15:34] #17 closed

[2018-11-19 21:49] martinholmer commented on #67
@andersonfrailey said in PSL issue #67:

I like the `Cataloged` term because it fits into the Library metaphor.  When books are acquired (or "accepted") by the Library, the first thing the Library does is catalog the book.   `Applying` fits better with the membership metaphor.  I guess, to be ideal about this, me need a term (other the `Applying`) that expresses the idea of being in the process of

[2018-11-19 22:03] Peter-Metz commented on #67
I like `Cataloged` as well.

One alternative to `Applying` could be `Under Review`. The reason I propose this is because `Applying` has connotation of exclusivity, whereas (I think) we want PSL to grow as big as it can, as long as models meet the criteria. I am also on board with `Applying`, but thought I would offer another alternative.

[2018-11-19 22:20] martinholmer commented on #67
@Peter-Metz said in PSL issue #67:

I like very much @Peter-Metz's point about "Applying has the connotation of exclusivity, whereas (I think) we want PSL to grow as big as it can, as long as models meet the criteria".   What about "Cataloged" and "Processing".  Processing might be closer to the thought behind @Peter-Metz's remark.

[2018-11-20 14:03] Peter-Metz commented on #67
@martinholmer, that sounds good to me.

[2018-11-20 14:21] andersonfrailey commented on #67
Sounds good to me as well.

[2018-11-20 14:23] MattHJensen commented on #67
Very much agree. I also like "Cataloged" a lot.

"Processing" implies to me that PSL is processing something, and therefore that the ball is in PSL's court. This could give some a negative impression of PSL if they see that some projects are "processing" for a long time. However, I strongly suspect that most of the time a project is processing it will be because the project has some work to do bef

[2018-11-21 21:59] MattHJensen opened #78 "mailchimp form still indicates policysimulationmodels.org"
In #77, I changed all references to policysimulationlibrary.org to pslmodels.org except for this one:

https://github.com/open-source-economics/PSL/blob/dea3caf1650a23a0b9eecdf7897438050299da07/index.html#L87

@Peter-Metz, could you please advise on how to deal with this when you have an opportunity? (Does not need to be on Thanksgiving!)

[2018-11-21 22:02] MattHJensen opened #79 "https://pslmodels.org not working"
When the user types `https://pslmodels.org` exactly like that into the browser, they are not sent to https://www.pslmodels.org. `www.pslmodels.org`, `pslmodels.org`, `http://pslmodels.org`, `https://www.pslmodels.org` all work.   Similarly, `https://policysimulationlibrary.org` does not redirect properly, whereas all other instances do.

@hdoupe, is this related to an issue you encountered previou

[2018-11-26 14:10] Peter-Metz commented on #78
@MattHJensen

The newsletter signup still works properly - that particular line is pointing towards the MailChimp account (which is called "Policy Simulation Library"). If you think we should change the MailChimp account to "PSL Models", then we would need to change that line.

[2018-11-26 19:02] hdoupe commented on #79
I've been tinkering with this some. I haven't made any progress on using the naked domain (pslmodels.org without www). I did figure out that [godaddy doesn't do forwarding over https](https://www.godaddy.com/community/SSL-And-Security/Forwarding-works-as-long-as-URL-does-not-contain-https/td-p/44951). That's why http://policysimulationlibrary.org works while https://policysimulationlibrary.org doe

[2018-11-26 22:23] MattHJensen commented on #78
Thanks @Peter-Metz. I don't see any reason to update the MailChimp account. Closing.

[2018-11-26 22:23] #78 closed

[2018-11-26 22:29] MattHJensen opened #81 "automate catalog updates"
In #35, @martinholmer asked:

@andersonfrailey  replied:

@hdoupe also noted:

I just updated the catalog, but it was about 2 weeks out of date. I imagine this type of delay will be frustrating for model contributors and users, and I think it is time to start looking into an automated approach.

In my view, real time updates are ideal, but a midnight cron job or similar would also be ok, especiall

[2018-11-26 22:49] hdoupe commented on #81
I'm on board with automating the catalog updates. I think a nightly cron job would be a good first step. @Peter-Metz I'm happy to help out with this, if you decide to take it on.

[2018-11-27 14:04] Peter-Metz commented on #81
@MattHJensen @hdoupe

I also think automating updates is a good idea and would be happy to take this on.

[2018-11-30 18:28] MattHJensen opened #84 "slimmer catalog card and website"
Currently we consider pslmodels.org/catalog/model-a as model-a's catalog card.

I would like to propose that we  begin viewing model-a's subsection of pslmodels.org/catalog as its card.

Currently these (very slim) cards only contain the project overview. We could add links to a Website, User Docs, Contributor Guide

The content on pslmodels.org/catalog/model-a (which we have been calling its cata

[2018-12-03 14:02] MattHJensen commented on #67
I am returning to `incubating` as opposed to `processing` or `pre-cataloged.`

`Incubating` is a good description of the models' developmental stage, and makes it easy to give credit to other institutions as model "incubators". We can also write that a model is "incubating at [instutition(s) of creator(s)]. "Incubation" is an opportunity to give institutions credit for something (and thereby incen

[2018-12-03 19:50] andersonfrailey commented on #67
@MattHJensen badges can be ready at anytime. Here's what I've got:

https://img.shields.io/badge/PSL-Cataloged-brightgreen.svg

https://img.shields.io/badge/PSL-Incubating-yellow.svg

My understanding is we can just embed those links into project READMEs and the badges will show up. We can also change the colors if need be.

[2018-12-03 23:10] MattHJensen commented on #66
I am working with GitHub support on the Open-Source-Economics -> PSLmodels organization rename.   I will update this issue when the change goes through.

[2018-12-04 15:21] hdoupe opened #85 "Test for catching human-edits on machine-generated files"
In #62, @Peter-Metz said:

Peter brings up an important issue: users manually editing machine-generated files instead of the template files themselves. @andersonfrailey proposed keeping a JSON file in the repo with information about when each file was last edited and comparing that time with the last-edit timestamp that `git` records for each file. Another option would be to keep a checksum for ea

[2018-12-04 21:43] andersonfrailey commented on #85
I think a checksum would be good for this. We could have the page/catalog builder compare the checksum in the JSON to the one it calculates and throw an error if they don't match. It could then rewrite the JSON files with the new checksums after it recreates the page.

[2018-12-05 16:31] andersonfrailey commented on #84
Is the basic goal of this to give models more control over what their page looks like? We will have the catalog builder to create `pslmodels.org/catalog` and if the project elects to not create a custom page we'll create one as we're doing now. If they do choose to create their own page then it'll be up to them to keep it up to date and in line with some design standards. I'm on board with this id

[2018-12-05 16:36] MattHJensen commented on #66
Open-Source-Economics -> PSLmodels complete.

[2018-12-05 23:21] martinholmer opened #86 "Suggest changing "psl-cataloged" to "PSL-cataloged""
Here is what the top of the Tax-Calculator GitHub page looks like after today's improvements:

<img width="888" alt="screen shot 2018-12-05 at 6 17 20 pm" src="https://user-images.githubusercontent.com/12170745/49550666-63fe0f00-f8ba-11e8-9808-d06426cf680a.png">

I think it would look much better to have the `psl` in upper-case letters.  Is that possible to do?
If so, can the change be done centra

[2019-01-02 11:41] MattHJensen commented on #86
@martinholmer, I agree that PSL-cataloged or PSL-Cataloged would be preferable to psl-cataloged, but GH does not support upper-case letters in these tags.

[2019-01-02 11:41] #86 closed

[2019-02-01 15:32] hdoupe commented on #14
Update on #14: I've continued working on this inputs schema and the prototype that I mentioned at the end of my initial comment in the ParamTools project. The main approach to the schema and the prototype has not changed much. I have focused primarily on smoothing out some of the rough edges and filling in gaps. You can read more about ParamTools here: https://github.com/pslmodels/paramtools.

Thi

[2019-02-19 15:11] MattHJensen opened #96 "PSL institutional infrastructure - next steps"
I hope everyone has had a chance to read PSL’s [first newsletter](https://www.pslmodels.org/Newsletter/February.html) and [semi-annual report](https://github.com/PSLmodels/PSL/pull/95), a draft of the report is currently available for discussion on GitHub. Thanks to @Peter-Metz  for taking the lead writing these documents, to everyone who participated to their discussion on GH, and, of course, to

[2019-02-22 16:23] martinholmer commented on #96
@MattHJensen,  I like [your proposal](https://github.com/PSLmodels/PSL/issues/96#issue-411973108) very much.  You have thought this through carefully and it all makes sense to me.  I hope the NumFOCUS folks are interested in what we are doing.

[2019-02-22 17:30] codykallen commented on #96
This proposal seems good overall to me. However, I have a specific question regarding multiple projects. @MattHJensen said:

If someone has multiple projects cataloged with PSL and is the primary/only maintainer, would this structure give that person multiple seats/votes on the Council? I think it would be best to limit it to 1 vote per person.

[2019-02-22 19:37] towashington commented on #96
I totally support the motion to apply to join NumFOCUS.

I also think @codykallen made a good suggestion. Under this modified rule, if Projects **A** is represented by someone who's also a maintainer of Project **B**, and if maintainers of **B** think they might have different voices, they would choose someone else to represent them.

[2019-02-22 21:07] jdebacker commented on #96
@MattHJensen I'm in agreement with the suggestion to apply to join NumFOCUS - it'd be a great home for PSLmodels.

[2019-02-24 20:36] MaxGhenis commented on #96
Applying to join NumFOCUS SGTM. I agree with the sentiment above that the leadership council voting system may deserve some fleshing out.

[2019-02-25 12:46] donboyd5 commented on #96
On its face it looks very attractive, but there are still questions I would want to know answers to, if I were PSL, before committing 100%.

To me, the attractions are:
1. Association with, and ability to learn from, and possibly collaborate with, a set of mostly-huge already-sponsored projects. I didn't realize NumFOCUS even existed, but it turns out they do and have a lot of household- and near-

[2019-02-26 14:36] hdoupe commented on #96
For the podcast people, the communications director for NumFocus was on the [Change log podcast this week.](https://changelog.com/podcast/335) They talk some about the different ways projects can be involved with NumFocus, who their donors are, and what types of projects are included.

[2019-02-28 17:35] MattHJensen commented on #96
Thanks to everyone for the discussion. I agree on all of the points raised. Given that there are some outstanding questions, I will set up a call between myself and someone at NumFOCUS to discuss them. Then I'll report back here.

[2019-03-07 13:19] MattHJensen commented on #96
I have a call scheduled with Leah Silen, the NumFOCUS executive director, next Tuesday afternoon (March 12). I will report back afterwards. Please comment here if you think of additional questions.

[2019-03-12 19:47] MattHJensen commented on #96
I just spoke with Leah Silen. She answered several of the outstanding questions above, as well as some additional questions I asked. The answers below are not verbatim, and some of them rely on my outside knowledge beyond Leah's direct responses.

The PSL leadership council will need to decide what PSL is ok accommodating, but NumFOCUS is extremely flexible. If there are contractural deliverables,

[2019-03-12 20:26] MattHJensen commented on #96
Given my conversation with Leah, I think a useful next step is for PSL-cataloged projects to appoint their representatives to a PSL leadership council and then that group should have a series of meetings with the following agenda:

- Formalize PSL's governance structure in some simple document.
- Discuss PSL's near and mid-term fundraising objectives.
- Given those objects, decide whether PSL need

[2019-03-12 21:05] jdebacker commented on #96
I'll represent the Cost-of-Capital-Calculator on the PSL leadership council.  Glad to talk specifies bout governance structures and objectives, but I think it's clear we could benefit from a fiscal sponsor and really like the NumFOCUS model.

[2019-03-13 18:53] MattHJensen commented on #96
I spoke with the other PSLmodels/PSL maintainers (@hdoupe  @andersonfrailey, and @Peter-Metz), and I will represent the project on the PSL leadership council.

[2019-03-13 22:54] martinholmer commented on #96
While speaking with @MattHJensen, we decided @martinholmer would represent the Tax-Calculator project on the PSL leadership council.

[2019-03-14 14:25] rickecon commented on #96
@rickecon will represent the OG-USA project on the PSL leadership council.

[2019-03-14 14:46] hdoupe commented on #96
I'll represent ParamTools.

[2019-03-15 15:21] andersonfrailey opened #104 "Website Cuts Off Left Side of Page in Safari"
I noticed today that when you go to PSLmodels.org the left hand side of the page is cut off. Here's what I'm seeing on the "about" page:

<img width="1280" alt="Screen Shot 2019-03-15 at 11 17 21 AM" src="https://user-images.githubusercontent.com/20684675/54441834-e9902700-4713-11e9-8100-fa48f1b3b51e.png">

This appears to only be an issue in Safari. When I visit the site in Chrome or Firefox ever

[2019-03-15 15:32] Peter-Metz commented on #104
@andersonfrailey Good catch, this is a problem in the CSS that I can take care of today.

cc: @hdoupe

[2019-03-15 16:01] MattHJensen commented on #96
Thanks everyone. I think the meeting ought to be open to anyone who wants to attend, but to keep the scheduling manageable, I'll email @hdoupe, @martinholmer, @rickecon, and @jdebacker to find a time that works for the council members.

[2019-03-19 00:41] Sumo99 commented on #104
Is my pr a fix?

[2019-03-19 14:22] Peter-Metz commented on #104
PR #106 resolves this issue

[2019-03-19 14:22] #104 closed

[2019-03-19 18:36] MattHJensen commented on #96
The first PSL leadership council meeting will take place on Wednesday, March 20, at 2:30p Eastern (tomorrow). All are welcome.

Join Webex meeting at:
https://ospc.my.webex.com/join/matt.jensen | 628 792 770

Join by phone:
+1-510-338-9438 USA Toll
Access code: 628 792 770
Global call-in numbers

[2019-03-22 20:21] MattHJensen commented on #96
Thanks to @martinholmer, @jdebacker, @rickecon, @hdoupe, and @MaxGhenis for participating in our first leadership council meeting on Wednesday, in which we drafted bylaws (#107), decided to adopt the NumFOCUS code of conduct (#108), and decided to apply to NumFOCUS for fiscal sponsorship.

If you have the opportunity, please review and provide feedback on a draft application to NumFOCUS [here](htt

[2019-04-01 12:47] #81 closed

[2019-04-03 14:49] MattHJensen commented on #96
I would like to send the NumFOCUS application to Leah Silen (NumFOCUS executive director) for feedback by the end of this week. If you have any suggestions on the [draft](https://docs.google.com/document/d/19p6nv8zLW31i0-SMSZyiw1P5XXkDUusCnl6HK4gwWyI/edit?usp=sharing) please leave it in the google doc by this Friday at noon.

[2019-04-03 17:17] jdebacker commented on #96
The draft looks good.  I just made a few small edits.

[2019-04-24 00:41] MattHJensen commented on #96
While we wait as the NumFOCUS board reviews our application, we might begin thinking about the fundraising capabilities we'd like PSL to offer. To facilitate the discussion, I drafted an overview of an initial set of capabilities that we could choose offer.

[PSL Fundraising Capabilities -- Discussion Draft](https://docs.google.com/document/d/1Nn0mZ8SH7t_cuwNe9nil9184ggstOc9gTcSCwLtje-I/edit?usp=s

[2019-04-30 11:59] MattHJensen opened #114 "Rename this repo to PSL-Infrastructure"
I plan to rename this repo to `PSL-Infrastructure` by the end of this week

This will make it easier to distinguish between the PSLmodels/PSL repo and the Policy Simulation Library.

Similarly, rather than writing sentences like, "My proposal is for the projects cataloged by PSL and the PSLmodels/PSL project to each have one seat on the leadership council," I will be able to write, "...projects ca

[2019-05-06 15:24] MattHJensen commented on #114
Resolved w name change to PSL-Infrastructure. Closing.

[2019-05-06 15:25] #114 closed

[2019-05-06 15:37] MattHJensen commented on #79
This is resolved.

[2019-05-06 15:37] #79 closed

[2019-05-06 15:54] MattHJensen commented on #14
@hdoupe, thanks for the update on this issue.

Do you see any implications of your continued work on schema for the PSL Criteria?

[2019-05-06 16:25] MattHJensen commented on #67
I am closing this issue as the substantive part of open-source-economics -> PSLmodels has been accomplished.

@andersonfrailey, thanks a lot for doing the preliminary research on badges. I like the colors, but an option in neutral gray for both (like Tax-Calculator's PSL-cataloged badge) might also be nice. I think the next steps would be to add a discussion of the badges to the PSL docs of the av

[2019-05-06 16:25] #67 closed

[2019-05-06 16:26] MattHJensen commented on #11
I am closing this issue as a monthly PSL Meeting in DC has been established.

[2019-05-06 16:26] #11 closed

[2019-05-06 16:35] MattHJensen commented on #60
Resolved by #62

[2019-05-06 16:35] #60 closed

[2019-05-06 16:36] MattHJensen commented on #66
Resolved.

[2019-05-06 16:36] #66 closed

[2019-05-06 17:24] hdoupe commented on #14
I'm OK with dropping the interoperability criteria that's related to #14, namely [Interoperability criteria 2, 3, and 4.](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Criteria/library_criteria.md#interoperability-criteria) I think projects will adopt JSON schemas organically as they see the precedent that's been set by existing PSL projects. Further, projects that want to be include

[2019-05-06 20:01] Peter-Metz commented on #84
After discussion with @MattHJensen, @andersonfrailey, and @hdoupe, we thought it best to allow projects to create their own, stand-alone websites, as opposed to giving each project a page on pslmodels.org. As such, #117 removes "Project Website" (which linked to a project's page on pslmodels.org) from the PSL Catalog. If/when projects make their own project websites, the "Project Website" link may

[2019-05-07 14:04] MattHJensen commented on #75
Resolved by #119.

[2019-05-07 14:04] #75 closed

[2019-05-08 14:00] #24 closed, assigned to nobody

[2019-05-08 15:44] #14 closed

[2019-05-08 22:47] martinholmer commented on #84
@Peter-Metz and @MattHJensen,  What is the rationale for banning the "dev_changelog" attribute?
It seems to have been removed in this PR from the "Allowed attributes" list in the`Tools/Catalog-Builder/catalog_builder/catalog.py` file.

[2019-05-09 15:28] MattHJensen commented on #84
@martinholmer, thanks for following along with catalog development. Based on your feedback and others', the PSL-Infrastructure project is slimming down the  PSL catalog cards. The new catalog cards, which you can find at https://www.pslmodels.org/Catalog (soon to be pslmodels.org/catalog), are only intended to include the project one liner, project overview, project core maintainers, and links use

[2019-05-09 16:04] martinholmer commented on #84
@MattHJensen, Thanks for the explanation in [this comment]().
You said:

No, not really.  Just wondered about the thinking behind all the changes.

[2019-05-31 11:50] MattHJensen commented on #96
We will have a leadership council meeting on Tuesday, June 3, at 3p eastern to discuss PSL fundraising capabilities. This meeting is open to everyone, regardless of your current status on the leadership council.

Join Webex meeting at:
https://ospc.my.webex.com/join/matt.jensen | 628 792 770

Join by phone:
+1-510-338-9438 USA Toll
Access code: 628 792 770
Global call-in numbers

[2019-06-07 19:07] MattHJensen opened #124 "New PSL Meetings"
Hi all, PSL has two new meetings:

**Community meeting**
Every other Tuesday, 3p eastern, beginning Tuesday, June 11.

**Leadership council meeting**
Every other Tuesday at 3p eastern, beginning Tuesday, June 18

See the [PSL events calendar](https://pslmodels.org/events) for the location and day of the next meeting.

[2019-06-07 19:09] MattHJensen commented on #124
LOCATION:

Join Webex meeting
https://ospc.my.webex.com/join/matt.jensen | 628 792 770

Join by phone
+1-510-338-9438 USA Toll
Access code: 628 792 770
Global call-in numbers

[2019-06-07 19:32] feenberg commented on #124
What time?

dan

On Fri, 7 Jun 2019, Matt Jensen wrote:

[2019-06-07 19:34] MattHJensen commented on #124
@fenberg, 3p eastern.

[2019-06-07 19:37] MattHJensen commented on #124
[Agenda for the first community meeting on Tuesday, June 11.](https://docs.google.com/document/d/1FK8vU9UK8KjwdB7JcGDTPoEX1EVoeUbu5q9jl3MkY7Y/edit?usp=sharing)

We can also keep notes in this document. The link provides write access, so feel free to contribute directly.

[2019-06-07 20:05] feenberg commented on #124
Sorry I missed it.

dan

On Fri, 7 Jun 2019, Matt Jensen wrote:

[2019-06-10 02:37] MaxGhenis commented on #124
Here are Google Calendar repeating events:
* [PSL Community Meeting](https://calendar.google.com/event?action=TEMPLATE&tmeid=M2xiazRlazR0djg3dmtxZHQ2dGdqazZnZnFfMjAxOTA2MTFUMjIwMDAwWiBhb2U2Z2QydGo4cGs2amdjYWw4YjNsa29tb0Bn&tmsrc=aoe6gd2tj8pk6jgcal8b3lkomo%40group.calendar.google.com)
* [PSL Leadership Council Meeting](https://calendar.google.com/event?action=TEMPLATE&tmeid=NWY3Mml0bTlzaHJzZGk2NThyZ

[2019-06-11 14:12] Peter-Metz commented on #84
Resolved by #117

[2019-06-11 14:12] #84 closed

[2019-06-11 14:45] Peter-Metz opened #125 "PSL leadership council voting procedures"
During last week’s PSL leadership call, we had a brief discussion about how and when votes should be carried out. The first option would be to hold votes during the bi-weekly PSL leadership calls, as has been done up to this point. A second option would be to hold votes online and set the docket (i.e. what the council is voting on and the possible choices for the votes) during the PSL leadership c

[2019-07-02 15:52] MattHJensen commented on #8
Upon further investigation, I think Discourse might be a better fit than StackOverflow for the PSL community. See discourse.numenta.org, discourse.quantecon.org, and discourse.julialang.org for examples.

[2019-08-02 19:47] MattHJensen commented on #96
NumFOCUS on-boarding has just begun. They need a short description of our project, like the examples you see on [this page](https://numfocus.org/sponsored-projects/affiliated-projects). Ideas?

[2019-08-02 22:00] rickecon commented on #96
First stab:

And definitely include a read more button with a link to [https://www.pslmodels.org/about.html](https://www.pslmodels.org/about.html).

[2019-08-05 13:47] MattHJensen commented on #96
Agree on the link to the about page.

What about this? Builds on Rick's.

[2019-08-06 18:15] MattHJensen commented on #96
The Policy Simulation Library (PSLmodels) is a collection of models and other software for public-policy decisionmaking. PSLmodels is developed by independent open source projects that meet standards for transparency and accessibility.

[2019-08-06 19:14] MattHJensen commented on #96
The Policy Simulation Library (PSL) is a collection of models and other software for public-policy decisionmaking. PSL is developed by independent projects that meet standards for transparency and accessibility. The PSL community encourages collaborative contribution and makes the tools it develops accessible to a diverse group of users.

[2019-08-12 15:46] Peter-Metz opened #133 "Retiring Page-Builder"
With the PSL website's recent redesign, I think it is now time to retire the Page-Builder tool. Once #132 is merged, we will no longer be using markdown files in the repository to construct the web pages. In addition, the pages are now formatted sufficiently different so that the template approach no longer saves time. I'm happy to open a PR to make these changes, but I wanted to get @andersonfrai

[2019-08-12 21:25] andersonfrailey commented on #133
Happy to retire Page-Builder now that it's no longer needed.

[2019-08-13 14:46] #133 closed

[2019-08-20 14:27] Peter-Metz commented on #85
This issue was resolved by #134 since we are no longer using template files to construct web pages. Closing

[2019-08-20 14:27] #85 closed

[2019-09-16 14:43] MattHJensen opened #139 "Add Discourse to menu bar"
PSL Discourse is now available. @Peter-Metz, do you mind adding to the menu bar? I am torn about what to call it: "Discourse," "Discussion," "Forum"?

[2019-09-16 15:06] MattHJensen commented on #96
Thanks everyone very much for your participation in this issue and discussion.

The current status of our institutional plans are that:

- PSL has partnered with the NumFOCUS Foundation as a NumFOCUS affiliated project.
- Some PSL community members are pursuing funding for various aspects of PSL development through non-profit research institutions like University of Chicago, University of South Ca

[2019-09-16 15:08] #96 closed

[2019-09-16 18:44] Peter-Metz commented on #139
Not a problem. #140 adds the Discourse channel to the navbar

[2019-09-16 22:25] #139 closed

[2019-12-17 22:53] MaxGhenis opened #157 "Criteria: "Projects SHOULD include subject matter tags, choosing from ...""
Looks like this might have been a placeholder: https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Criteria/library_criteria.md

Does this mean issue labels?

[2019-12-18 20:01] MaxGhenis opened #159 "Clarifying project mirroring in PSL guidelines"
One of the [PSL criteria](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Criteria/library_criteria.md) reads:

Are there example projects that are mirroring from another GitHub repo? Are they doing it via https://help.github.com/en/github/creating-cloning-and-archiving-repositories/duplicating-a-repository#mirroring-a-repository ?

Or have they all moved into https://github.com/PSLmod

[2019-12-19 05:56] MaxGhenis opened #160 "Are catalog links previewed anywhere?"
The [Catalog-Builder README](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Tools/Catalog-Builder/README.md) suggests that links need to be HTML or Markdown files so that they can be previewed, but I don't see previews in the [PSL catalog](https://www.pslmodels.org/Catalog/index.html), just hyperlinks. Is this in preparation for a future update?

[2019-12-19 18:55] Peter-Metz commented on #160
@MaxGhenis: The Catalog-Builder was originally designed to a generate a separate HTML page for each project, with each page containing much more parsed information than is currently displayed in the PSL catalog. Now, the only parsed information shown in the Catalog is the one-liner, project overview, and core maintainers -- the rest of the sections are, as you say, hyperlinks.

Does this help answ

[2019-12-20 01:59] MaxGhenis commented on #160
Yep, thanks for confirming @Peter-Metz.

[2019-12-20 01:59] #160 closed

[2019-12-20 13:44] MattHJensen commented on #159
@MaxGhenis, all have moved into github.com/pslmodels.

This is what I have imagined someone wanting to mirror would do.

[2019-12-20 13:53] MattHJensen commented on #157
We had envisioned subject matter tags that would be displayed like this:

![image](https://user-images.githubusercontent.com/8301092/71258861-2ae9de80-2305-11ea-9b15-af84c92ad4a4.png)
or
![image](https://user-images.githubusercontent.com/8301092/71259158-c24f3180-2305-11ea-9176-a4a3e2d36418.png)

Do you think that "Repo topic tags" would be more clear than "subject matter tags"? I am also inclined

[2019-12-27 20:00] MaxGhenis commented on #157
Oh, gotcha. How about linking to the GitHub documentation on them, [Classifying your repository with topics](https://help.github.com/en/github/administering-a-repository/classifying-your-repository-with-topics), and using similar terminology in the criterion, e.g.:

I agree on removing the "choosing from..." until common topics are identified. The criterion looks incompletely defined as-is.

[2019-12-28 00:52] #159 closed

[2020-05-13 20:23] MaxGhenis opened #168 "Tax-Calculator Developers Call Google Calendar event link is broken"
https://www.pslmodels.org/events.html shows two Google Calendar links to add the Tax-Calculator Developers Call, but both show a bar at the bottom saying "The requested event has been cancelled and removed from your calendar." rather than showing an event as the PSL meetings do.

Link:
https://calendar.google.com/event?action=TEMPLATE&tmeid=aGhnODNzMDA4bTI2aXYwcHUxNW91ZXRpanNfMjAyMDA1MTJUMTgzMDAwW

[2020-05-14 13:43] Peter-Metz commented on #168
Thanks @MaxGhenis. I just removed the Tax-Calc calls from the PSL events page with #169. We decided to scrap the Tax-Calc calls for the time being since most of our communication happens on the Riot [Tax-Calculator](https://matrix.to/#/!pDrzhltReXfgRKfzLQ:matrix.org?via=matrix.org) and [PSL](https://matrix.to/#/!oZnjlINzAXrgdzXEfZ:matrix.org?via=matrix.org) channels. Hope to see you there!

[2020-05-14 22:44] #168 closed

[2020-06-01 21:03] MaxGhenis opened #172 "Information for employer donation matches (e.g. Benevity)"
I got a question from someone whose employer matches donations via http://benevity.com: If someone either donates to Open Collective Foundation (OCF) via Benevity, or requests an employer match through Benevity, and they add a note about PSL, will that money/match get to PSL? Also, if their note mentions that they want to donate to a subproject of PSL, will OCF pass that information on to PSL? Ben

[2020-06-02 00:42] jdebacker commented on #172
@MaxGhenis This is a good question.  I might need to understand more how Benevity works (too many buzzwords on their website for me to sort through).  Perhaps we can discuss when we talk tomorrow.

[2020-06-03 17:45] jdebacker opened #173 "PSL presentations at academic conferences"
During our most recent PSL Leadership Council call, we discussed organizing sessions to present/demo PSL models at academic or open source industry conferences.  Such presentations would help to extended awareness and use of PSL models.

This issue is to highlight such opportunities to the community and to facilitate organization of sessions.

Academic conferences that I'm familiar with and where

[2020-06-05 21:53] jdebacker commented on #172
@MaxGhenis I received the following info from Open Collective:

[2020-06-05 22:15] MaxGhenis commented on #172
Thanks @jdebacker! This is interesting since they already have a Benevity profile, at least in the system of the person's employer (I can't find it a public list).

Should we put this info on the site or the Open Collective page, or hold off until they're fully sorted out?

[2020-06-05 22:36] jdebacker commented on #172
Let's hold off until they've finalized things.

[2020-07-14 22:54] MaxGhenis opened #178 "Add sign-up link to newsletter archive page"
Suggestion to include the sign-up link--currently found on the homepage--at https://www.pslmodels.org/Newsletter/archive.html, rather than pointing to the homepage:

![image](https://user-images.githubusercontent.com/6076111/87484110-404c9000-c5ea-11ea-9c64-7e40cfa8c601.png)

I think this would involve copying this code:

https://github.com/PSLmodels/PSL-Infrastructure/blob/e305e4f57277134b451ea55

[2020-07-17 15:44] Peter-Metz opened #179 "Update PSL-Infrastructure community docs"
[Community/roadmap.md](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Community/roadmap.md) and [Community/contributors.md](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Community/contributors.md) are due for an update.

I suggest we discuss on the next PSL community call.

[2020-07-21 21:22] Peter-Metz opened #181 "Update community roadmap"
The current [roadmap](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Community/roadmap.md) is due for an update (because we have accomplished most of the stated goals in the initial version!). Here are some possible items for a new roadmap:

- Consider and approve proposals for PSL initiatives
- Transition the PSL Meeting series to a PSL Webinar series
- Build a subsection of pslmodel

[2020-07-21 21:25] Peter-Metz commented on #179
#180 removes `contributors.md` and discussion regarding `roadmap.md` will continue at #181. Closing

[2020-07-21 21:25] #179 closed

[2020-07-28 20:18] jdebacker commented on #172
@MaxGhenis - are we good here?  If so, would you close the issue?

[2020-07-28 20:23] chusloj commented on #181
@MattHJensen Would the list of citations for PSL models fit in here?

[2020-07-28 20:26] jdebacker opened #183 "Updating the PSL Catalog page"
This issue is to discuss design ideas to improve the aesthetic and thus the click-through rate from the [PSL Models catalog page](https://www.pslmodels.org/Catalog/index.html) to individual models.

Some ideas:
1) Make this page more graphic by include logos for projects, where applicable.
2) Have fewer links to potentially click through to each project.  E.g. maybe provide just one link for a pro

[2020-07-28 20:29] jdebacker commented on #181
Have a PSL model presentation at [PyData Global 2020](https://global.pydata.org)?  could be any model(s), but just aim for some representation.

[2020-08-01 14:33] jdebacker commented on #181
Another suggestion: build out an integrator model for the tax models to produce a broad set of analysis for tax proposals.

[2020-08-04 20:53] rickecon commented on #181
I think PSL-Infrastructure should aggregate project citations that are collected in each project. I think the best way for each project to record citations is to have a `citations.md` Jupyter Book markdown chapter of the project documentation. These markdown `.md` files have references that look like the following,
[code]
which `ReferenceTag` refers to the tag on a BibTeX entry in a file that is u

[2020-08-04 21:20] jdebacker commented on #181
I like @rickecon's idea above.  It's probably worthy of it's own issue to flesh out implementation.

A couple thoughts:
1) It may be least duplicative if the PSL-Infrastructure repo were the only repo with the GitHub action to look for new references.  It could crawl the repos for all cataloged models and update the citations page on PSLmodel.org.  This would mean one GH action instead of one for

[2020-08-04 22:44] rickecon commented on #181
@jdebacker It is important to note that PSL-Infrastructure does not want the entire `references.bib` file of a project. It only wants the subset that contains the relevant citations. In other words, a project's `references.bib` will contain many references to other relevant work. The subset of those references that are citations that use the particular project will be those referenced in the `cita

[2020-08-04 23:05] jdebacker commented on #181
@rickecon writes:

Correct.  I should have noted that a project could have a `references.bib` for work they cite and a `citations.bib` for references to places where the model is cited.   All references in `citations.bib` would be cited by PSLmodels.org.

[2020-08-05 13:29] Peter-Metz opened #186 "Aggregate project citations from maintainer-curated documents"
This issue builds on the discussion started in #181 about aggregating PSL project citations.

A brief overview of what @rickecon and @jdebacker have suggested so far:
- Each project curates a living document that lists places where the model is cited. @rickecon suggested that this doc could be a markdown file that pulls relevant citations from a separate, potentially more compressive, `references.

[2020-08-05 13:32] Peter-Metz commented on #181
@rickecon @jdebacker @chusloj thanks a lot for your suggestions here. I've opened #185 to replace `roadmap.md`. Also, I've opened #186 to continue the conversation about aggregating project citations.

[2020-08-06 19:41] jdebacker opened #187 "Update PSL Anaconda Channel"
We should upload the PSL logo to the PSL Channel on Anaconda: https://anaconda.org/pslmodels

The URL should probably be updated to the more commonly used PSLmodels.org (though it does redirect fine).

[2020-08-07 20:08] chusloj commented on #186
@MattHJensen and I have curated a list of citations for (mostly) Tax Calculator in Zotero. Following suggestions from\ @rickecon and @jdebacker  I will take a first stab at creating a `references.bib` file for Tax Calculator that exports citations from Zotero in `.bib` format regularly using a GH action (I will try to pull nightly).

[2020-08-14 18:45] Peter-Metz commented on #181
Closed with #185

[2020-08-14 18:45] #181 closed

[2020-08-19 16:59] chusloj commented on #186
@rickecon – Just to clarify, in #181, were you suggesting that the markdown file with each project's own citations (other people citing the project) is manually edited, or automatically updated every time the `references.bib` file was updated?

[2020-08-19 17:36] jdebacker commented on #186
FYI @chusloj I've put two `.bib` files into the OG-USA repo:
1. `references.bib` -- this has references that the OG-USA docs cite
2. `citations.bib` -- this has references of places where the OG-USA model was cited/referenced

You can see the [References page here](https://pslmodels.github.io/OG-USA/content/theory/references.html) and the [Citations page here](https://pslmodels.github.io/OG-USA/co

[2020-08-19 17:39] chusloj commented on #186
@jdebacker Thank you for this comment. How would you auto-update the `citations.bib` file? I'm trying to pin down an automated way to do so.

[2020-08-19 17:51] jdebacker commented on #186
@chusloj asks:

The `citations.bib` file in each repo would be the responsibility of the maintainers of that repo to keep up to date.

PSL-Infrastructure would have a file similar to [`citations.md`](https://raw.githubusercontent.com/PSLmodels/OG-USA/master/docs/book/content/citations.md) in the OG-USA repo.  It could look something like:

[code]

## OG-USA
[code]

## PCI-China
[code]
.
.
.
.
[cod

[2020-08-20 19:57] chusloj commented on #186
Here's an idea. A new `citations.html` page can be created been created that lists each project as a hyperlink, where the hyperlink re-directs a user to the citations page on each project's Jupyter Book documentation site.

To use Tax-Calculator as an example, I'm thinking the following:

1. Scrape the whole `.bib` file of citations for Tax-Calculator from Zotero using something similar to the fol

[2020-08-20 21:29] Peter-Metz commented on #186
@chusloj that work flow for Tax-Calculator sounds promising -- it might be worth opening an issue in the tax-calc repo.

In my view, the downside of listing hyperlinks is that it would require projects to create docs websites, and that's not a requirement for PSL inclusion. Also, it would generally be useful to collect citations in a single document as @jdebacker suggested. I'd be very happy to pa

[2020-08-22 11:47] MattHJensen opened #191 "pslmodels.org not directing to www.pslmodels.org"
pslmodels.org does not direct to www.pslmodels.org, instead it takes me here:

![image](https://user-images.githubusercontent.com/8301092/90955468-a4653e00-e44b-11ea-8a9c-ebaa2d33fb00.png)

[2020-08-22 11:58] #191 closed, assigned to nobody

[2020-08-24 11:22] MattHJensen commented on #13
Closing this issue as the project has progressed beyond the creation stage when these readings were most helpful.

[2020-08-24 11:22] #13 closed

[2020-08-24 11:23] MattHJensen commented on #47
Closing this issue as it has staled. I imagine these topics may be reconsidered when/if PSL adds a blog, which has been discussed separately.

[2020-08-24 11:23] #47 closed

[2020-08-24 11:25] MattHJensen commented on #124
Closing in favor of https://www.pslmodels.org/events

[2020-08-24 11:25] #124 closed

[2020-08-24 11:26] MattHJensen commented on #178
+1

[2020-08-25 11:17] MattHJensen commented on #186
In https://github.com/PSLmodels/PSL-Infrastructure/issues/186#issuecomment-676571308, @jdebacker suggested listing citations by project.

That raises the question, how would works that rely on several projects be included? For example, most projects using OG-USA also rely on Tax-Calculator and TaxData. Would such a work appear three times in the PSL-infrastructure citations document?

Perhaps that

[2020-09-16 14:46] Peter-Metz opened #194 "Consolidating pslmodels.org nav bar"
The nav bar on pslmodels.org feels a bit cluttered to me.

![Screen Shot 2020-09-16 at 10 43 11 AM](https://user-images.githubusercontent.com/43755005/93353004-6e786700-f809-11ea-9bd9-2ce172aa8b34.png)

What do people think about consolidating the "Events," "Newsletter," and "Forum" buttons into a "Community" dropdown menu?

[2020-09-17 12:52] Peter-Metz opened #197 "PSL-Infrastructure version control"
I'd like to hear peoples' thoughts on `PSL-Infrastructure` version control. It seems to me that the project's primary goal is not to distribute software and that it is unclear what should constitute a release (e.g. a new model is added, the website is updated, a new tool is created?). For these reasons, I think it might make sense to un-version control the project.

To date, `PSL-Infrastructure` h

[2020-09-17 16:53] hdoupe commented on #197
@Peter-Metz It seems like there are a couple parts of PSL that _could_ be versioned:
- Any updates to the criteria.
- API updates for the builder, e.g. if the JSON format was updated.

Of these three, it seems like keeping track of changes to the criteria would be the most useful. I would be inclined to use a date based versioning scheme. That way, it's easy to look and see that the `2019-08-02` v

[2020-09-17 19:10] Peter-Metz commented on #197
@hdoupe those are both good points. I noticed that we have a versioning system for [council.md](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Community/council.md#psl-leadership-council-version-110) where the version is listed at the top of the document. Would this system also work for the criteria?

As a side note, I think switching the versioning of the leadership council doc to a

[2020-09-17 19:15] MaxGhenis commented on #197
Are these various projects all in this repo because they feed into pslmodels.org? Seems like the catalog + catalog builder could be its own repo, for example, with versioning.

[2020-09-17 19:18] Peter-Metz commented on #197
Yeah, the catalog builder constructs this page on the website: https://www.pslmodels.org/Catalog/index.html

[2020-10-02 12:53] Peter-Metz opened #202 "Rename PSL-Infrastructure to pslmodels.org"
On a community call, we discussed moving all content in PSL-Infrastructure to pslmodels.org and renaming the repository accordingly.

cc @MaxGhenis, who suggested this name change

[2020-11-02 20:52] jdebacker opened #206 "PSL Demo Days Calendar Sign-up"
Those interested in presenting in the PSL Demo Days, can find open slots on the calendar in [this Google Sheet](https://docs.google.com/spreadsheets/d/1Xu8sGWBtMuQqKSbuEq3y7CUAnaKC7ahd8LKVU8gIVVE/edit?usp=sharing).

If you would like to sign up and do not have access to the Sheet, please reach out to me or reply here.

As presentation dates near, the Demo Days will be available in the PSL Events c

[2020-11-10 03:12] Peter-Metz opened #208 "Use GH action to build PSL catalog"
The [current process](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Tools/Catalog-Builder/AUTOMATION.md) for automated catalog building relies on a script saved on my computer. I think a GH action would be better. The basic steps for making sure the catalog is up to do can be seen [here](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/Tools/Catalog-Builder/catalog_builder

[2020-11-10 18:27] hdoupe commented on #208
+1 for this. I think we could use an approach similar to the one used here: https://simonwillison.net/2020/Oct/9/git-scraping/

[2020-11-10 18:47] chusloj commented on #208
I'm going to try this later this week.

[2020-11-25 01:29] Peter-Metz commented on #194
Resolved by #203

[2020-11-25 01:29] #194 closed

[2020-12-03 21:02] chusloj commented on #208
GH action has been implemented, I think this issue is ready to be closed.

[2020-12-18 03:05] jdebacker opened #219 "PSL office hours"
Are we still holding office hours on WebEx at 1pm on Tuesdays at is shown [here](http://pslmodels.org/Community/contribute.html)?

Should we just refer to the events page in this contributor section?  Something like:

************
## Open Community Calls
If you are interested in becoming a contributor to the PSL community, we would welcome you to join one of our community calls.  Please see the [P

[2020-12-18 13:27] Peter-Metz commented on #208
Resolved by #210

[2020-12-18 13:27] #208 closed

[2020-12-18 13:28] Peter-Metz commented on #219
+1

[2020-12-18 18:53] Peter-Metz opened #221 "GH action that converts community docs to html"
The GH action would run `Tools/Page-Builder/make_pages.sh` when a community doc is changed. Suggested by @jdebacker in #218

[2020-12-18 19:06] chusloj commented on #221
@Peter-Metz I believe we can just add an additional step to the existing build action that would run the shell script nightly alongside the catalog builder.

[2020-12-18 19:10] jdebacker commented on #221
@chusloj It seems to me that you want this on a PR - not a nightly action, correct?  The html files built here do not depend on things external to the repo - just the checked in md files.

[2020-12-18 19:15] chusloj commented on #221
@jdebacker Thank you for reminding me of this, I forgot that the catalog builder relies on external files. @hdoupe suggested a nice way to run a GH action upon pushing specific files [here](https://github.com/PSLmodels/PSL-Infrastructure/pull/210#discussion_r529712058).

[2020-12-18 19:22] chusloj commented on #221
Reposting this because my comment was cancelled:
---

[2021-02-05 18:19] jdebacker opened #232 "Add social media links"
We should add links for PSL's LinkedIn page and Youtube channel to the PSL website.

LinkedIn: https://www.linkedin.com/company/policy-simulation-library/

YouTube: https://www.youtube.com/channel/UCf7WWCuZHs_FFLjuBW4a4_Q

[2021-02-05 18:21] jdebacker opened #233 "Twitter feed not loading on Safari"
The Twitter feed on the top right of the PSL homepage works fine on Chrome, but not Safari:

<img width="1388" alt="Screen Shot 2021-02-05 at 1 20 24 PM" src="https://user-images.githubusercontent.com/10715924/107073196-0d036580-67b5-11eb-82b1-2d5f3e261b31.png">

[2021-02-06 16:30] MaxGhenis opened #235 "Identify code formatter to recommend for PSL projects"
I'd vote to recommend (or even require) the [`black` code formatter](https://black.readthedocs.io/en/stable/) for PSL Python projects. An advantage of `black` is that it defines a single best code format; it advertises itself as "uncompromising", removing the code author from any code formatting choices so they can focus on just coding. It's integrated to editors like VS Code and I've enjoyed usin

[2021-02-06 21:17] hdoupe commented on #235
I don't know if we should require a code-formater, but I think using one in more PSL repositories would set a good example for new or prospective projects.

I'm a big fan of `black` and use it in all of the Compute Studio projects and in ParamTools. I really do hope more projects adopt it. It feels like a chore to format code by hand again once you're used to having your code formatted for you :up

[2021-02-07 01:55] jdebacker commented on #235
I should probably give Black a try.  I've not found formatting my own code a chore (it's easy enough to follow stying guidelines as you go), but I have had some frustration on projects with others who obey no rules.  It'd be great to auto-correct that work - or just get them using Black.  I'll try to give it a go this week.

[2021-02-07 15:07] Peter-Metz commented on #233
Thanks for opening this issue @jdebacker. The Twitter feed seems to be loading on my Safari. Are others having this issue?

[2021-02-07 15:11] Peter-Metz commented on #232
@jdebacker good call. I'll look into creating a footer for the website

[2021-02-08 16:21] MattHJensen commented on #233
It isn't loading on my Chrome but it is loading on Safari!

Chrome:

![image](https://user-images.githubusercontent.com/8301092/107247901-c6557b80-69ff-11eb-8e27-64e55dd211d8.png)

Safari:

![image](https://user-images.githubusercontent.com/8301092/107247946-d0777a00-69ff-11eb-84d1-6009e883c07b.png)

[2021-02-28 19:49] Peter-Metz commented on #221
Taken care of in #222 thanks for @chusloj. Closing.

[2021-02-28 19:54] Peter-Metz opened #239 "Reducing duplicate code for website"
I'd love to figure out a way to reduce the code that is shared by all pages (e.g. header, navigation bar, footer etc.) without necessarily introducing server-side scripting like Django. Personally, I enjoy how technologically simple the website is, but the duplicate code makes the site a bit harder to maintain. Any ideas?

[2021-02-28 22:43] Peter-Metz commented on #219
Resolved by #220

[2021-02-28 22:43] #219 closed

[2021-02-28 23:10] Peter-Metz commented on #221
Oops...looks like I jinxed this one. When the GH action was triggered by the merging of #220, a bunch of CSS was inserted into the community html pages. I fixed the CSS with #240 and disabled the GH action for now.

<img width="734" alt="Screen Shot 2021-02-28 at 5 54 35 PM" src="https://user-images.githubusercontent.com/43755005/109436862-bd990980-79ef-11eb-8196-a5f5e02a6df1.png">

cc @chusloj

[2021-03-01 02:33] Peter-Metz commented on #125
Closing this issue as the Leadership Council has been using Google Forms

[2021-03-01 02:33] #125 closed

[2021-03-01 15:46] chusloj opened #242 "Fixing CSS problem in page builder GH action"
@Peter-Metz Regarding the page builder GH action breaking CSS you mentioned in #240, I believe it's because we need to link `pandoc` to the `page.css` file. Testing this on my local machine seems to bring the page back to it's normal format.

[2021-03-01 15:53] Peter-Metz commented on #242
Thanks Jacob. How are you able to test this process with the GH Action? The shell script works as is when running it locally so my thought is that it's an issue with the Action.

[2021-03-01 15:55] chusloj commented on #242
That's what I thought would be true as well, but after running the script locally without linking `pandoc` to the CSS files, new HTML files with the wrong style were produced. I think something may have have changed in an update to `pandoc` or some other dependency.

[2021-03-01 18:06] chusloj commented on #239
What about [flask](https://flask.palletsprojects.com/en/1.1.x/)? Not as clunk as Django.

[2021-03-01 19:08] hdoupe commented on #239
Man, I'm really not appreciating all of the hating on Django in this thread...

Kidding. I think we should be able to do this with Jinja2, right? https://github.com/pallets/jinja#in-a-nutshell

![image](https://user-images.githubusercontent.com/9206065/109545943-85e59c80-7a97-11eb-9d4f-e2ef78493397.png)

[2021-03-01 19:13] chusloj commented on #239
I second @hdoupe, I recommended flask because of that exact feature in `Jinja2` which is embedded in flask.

[2021-03-01 19:54] Peter-Metz commented on #239
Thanks guys! I think Jinja will do the trick. I'll look into implementing this

[2021-03-02 17:41] MaxGhenis commented on #235
Just checking in on this. I've come to habitually rely on `black` and been running it as I've been working on unrelated PRs, but if we agree on it, it'd be better to run it all at once in repos so future PRs can stay clean.

[2021-03-02 20:01] rickecon commented on #235
I will try to give `black` a run in the next week. I really don't like lines that are longer than 79 characters, and I have heard great things about `black` from other Python sources. But I don't think we should require it, at least not yet. But we might want to include it as a SHOULD.

[2021-03-02 22:03] Peter-Metz commented on #242
Thanks Jacob. My guess is that this is a version issue with Pandoc or another package, because the Bash script works fine for me locally. In any case, it seems that #243 will do the trick. Thanks!

[2021-03-02 22:05] #242 closed

[2021-03-09 19:15] Peter-Metz commented on #221
Closing following #243

[2021-03-09 19:15] #221 closed

[2021-03-09 19:15] Peter-Metz commented on #232
Resolved by #238

[2021-03-09 19:15] #232 closed

[2021-03-09 19:16] Peter-Metz commented on #178
Resolved by #241

[2021-03-09 19:16] #178 closed

[2021-05-13 02:10] jdebacker opened #252 "Hacktoberfest"
An issue to remind us that PSL should participate in [Hacktoberfest](https://hacktoberfest.digitalocean.com) in 2021.

One idea to help with contributions from those unfamiliar with models is to set up some repos with some example code and data and suggest ideas for visualizations to be made or even with just standalone functions from packages that can be tested easily and sandboxed.

[2021-05-19 12:36] jdebacker opened #254 "Listing incubating projects on the website"
Currently, PSLmodel.org lists cataloged projects, with information compiled from the `PSL_catalog.json` file in the project's repository.

It would be good to also list incubating projects on the website. This could be done through the same json file (with a flag for project status) or by using the GitHub API and pulling information on projects with the "psl-incubating" tag.

cc @hdoupe who knows

[2021-05-19 17:33] hdoupe commented on #254
This would be cool. I have some bandwidth this weekend to play with this. It seems like we should be able to get all repositories under the PSLmodels organizations and their tags / topics: https://docs.github.com/en/rest/reference/repos#list-organization-repositories

Would we want to include repositories outside of PSLmodels? Should be possible, but may take a little more work. If we can't do it

[2021-05-19 17:38] MattHJensen commented on #254
For mirrored projects, I think we want to link to their repo in their home organization, not the PSLmodels org.

[2021-08-19 01:58] rickecon opened #266 "Update PSL Catalogue action failing for last 5 days"
The [Update PSL Catalogue](https://github.com/PSLmodels/PSL-Infrastructure/actions) GitHub action has been failing in PSL-Infrastructure for the last 5 days. I suspect this is because of the new Personal Access Token (PAT) verification required starting on August 13. Looking at the [`.github/workflows/update_catalog.yml`](https://github.com/PSLmodels/PSL-Infrastructure/blob/master/.github/workflow

[2021-08-19 02:07] rickecon commented on #266
Or maybe the GitHub token in secrets has expired? I am not a maintainer, so I cannot check this.

[2021-08-19 02:10] jdebacker commented on #266
@rickecon I think it's because of the repo name change for OG-USA.  OG-Core (old OG-USA) has a catalog json file, but the new OG-USA (formerly OG-USA-Calibration) did not.  I committed a `PSL_catalog.json` file to the new OG-USA repo tonight, so I expect the catalog to build one tonights attempt.

[2021-08-19 02:10] jdebacker commented on #266
FYI, I had a comment to the Leadership Council in the Element chat tonight citing the need to have a discussion about cataloging these two models at the 8/24 meeting.

[2021-08-19 02:13] rickecon commented on #266
@jdebacker . Ah. I see. In the [build error thread](https://github.com/PSLmodels/PSL-Infrastructure/runs/3367334797?check_suite_focus=true), it is erroring because there is no catalogue file in `OG-USA`, which used to be `OG-USA-Calibration`. Thanks.

[2021-08-19 02:36] jdebacker commented on #266
It still errored after I added that, but I had needed to update the
README.md to have info references in the json.  I think, with a PR I just
opened, it *should* all be good.  But we'll see!

On Wed, Aug 18, 2021 at 10:13 PM Richard Evans ***@***.***>
wrote:

[2021-08-22 03:57] jdebacker commented on #266
@Peter-Metz I'm not seeing my error in the [`PSL_catalog.json` in the OG-USA repo](https://github.com/PSLmodels/OG-USA/blob/master/PSL_catalog.json). I've fixed things a few times to address  the error messages in the build log for the action to create the catalog, but the latest message is too opaque:

[code]

Any thoughts?   My latest read through the OG-USA `PSL_catalog.json` file showed no bro

[2021-08-22 13:54] Peter-Metz commented on #266
Hi @jdebacker and @rickecon, I think the issue is that the sections in the OG-USA readme have changed order, so the catalog builder is getting confused when parsing. Specifically, for the `disclaimer` [section](https://github.com/PSLmodels/OG-USA/blob/master/PSL_catalog.json#L65), the `end_header` of "Using/contributing to OG-USA" was moved up in the readme.

You may want to check that the `start_

[2021-08-23 12:18] jdebacker commented on #266
[It looks like](https://github.com/PSLmodels/PSL-Infrastructure/actions/runs/1157033390) I finally fixed this!

Sorry for taking so long!  I thought I was holding up the listing of the `capital-cost-recovery` model, but I still don't see it there.  Is this because the [mirror in PSL models](https://github.com/PSLmodels/capital-cost-recovery) wasn't updated?

[2021-08-23 21:38] Peter-Metz commented on #266
Awesome! Looks like those changes were pushed to the catalog.

No this is because the `capital-cost-recovery` project is missing some sections that are technically required (specifically `user_changelog_recent`, `contributor_overview`, and `link_to_webapp`). I'm not convinced that these sections should be required and could open a PR to the catalog builder that makes them optional. Do you think th

[2021-08-23 21:46] jdebacker commented on #266
@Peter-Metz if you can make those sections optional, that would be great.  I don't think we need to discuss it further.  Thanks!

[2021-09-07 23:20] jdebacker opened #271 "Setup GitHub Sponsor links on repos"
We should set up GitHub Sponsor links on PSL affiliated project repos.  Contributions can go to OpenCollective.

See https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/displaying-a-sponsor-button-in-your-repository

[2021-09-14 19:42] hdoupe opened #272 "Update mirrored repos on a regular basis"
It seems like we could use this github workflow file as a template: https://github.com/PSLmodels/PSL-Infrastructure/blob/master/.github/workflows/update_catalog.yml

We could remove the catalog build step and replace the last action with something that loops over each mirrored repo, clones it, and pushes it to the PSLmodels mirror.

cc @jdebacker

[2021-09-14 20:49] MaxGhenis commented on #183
+1 per today's discussion, something like [NumFOCUS's Sponsored Projects page](https://numfocus.org/sponsored-projects) would be great

[2021-09-23 20:28] MaxGhenis commented on #172
@jdebacker feel free to close if this isn't the right place for PSL Foundation issues, but it'd be great to have a Benevity profile for the PSL Foundation. Their [FAQ](https://causeshelp.benevity.org/hc/en-us/articles/360001158326-Add-your-cause-to-the-Causes-Portal) suggests it requires 501(c)3 approval though:

[2021-09-30 17:12] MaxGhenis commented on #172
I just called Benevity and confirmed that they require full 501(c)3 status.

[2021-10-04 17:55] Peter-Metz opened #276 "Remove list of community calls in favor of larger calendar?"
I'd like to suggest removing the list of community calls on https://pslmodels.org/events.html in favor of a larger embedded calendar (like [this](https://htmlpreview.github.io/?https://github.com/Peter-Metz/PSL-Infrastructure/blob/calendar/events.html)). Now that PolicyEngine events are included in the calendar, the list of monthly calls is going to get quite long. This change would also alleviate

[2021-10-04 17:58] jdebacker commented on #276
+ 1.  We should probably use different colors for different types of events on the google calendar though, so it's easy to see, e.g., Demo Days vs community calls.

[2021-10-07 02:33] Peter-Metz commented on #276
Agreed @jdebacker. I was able to change the colors in the Google calendar but for some reason the change isn't reflected in the embedded calendar. I'll keep looking into this

[2021-11-01 16:23] #252 closed

[2021-11-02 19:27] MaxGhenis opened #284 "Revise "Make data publicly available" criterion to "Make input data publicly available""
Per a discussion in the 2021-11-02 leadership council meeting. @MattHJensen @andersonfrailey @hdoupe

[2021-11-10 13:13] jdebacker commented on #187
Closing, as most projects are not distributing packages via conda-forge.

[2021-11-10 13:13] #187 closed

[2022-05-11 03:27] MaxGhenis commented on #172
@jdebacker could you apply for this now that we have c3 status?

[2022-05-11 13:02] jdebacker commented on #172
@MaxGhenis Thanks for the reminder.  I just registered PSL-Foundation on Benevity: https://causes.benevity.org/content/psl-foundation (will take 24 hours to confirm everything)

[2022-05-12 19:55] jdebacker commented on #172
Benevity registration is complete.  @MaxGhenis you can close this issue.  Thanks for the reminder.

[2022-05-12 19:57] #172 closed

[2022-07-21 13:35] jdebacker opened #287 "Catalog page - add box for project logo"
The PSL catalog page should include a box for a project logo. A URL to the logo can be provided in the `PSL_catalog.json` file.

[2022-08-19 18:00] jdebacker commented on #271
OG-USA, OG-Core, CCC, and Tax-Calculator now all have these.

[2022-08-19 18:01] jdebacker commented on #271
cc @hdoupe @MattHJensen @andersonfrailey  -- let me know if you want help setting these up in repos you have merge rights to.